#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Idea
#################
**/*.iml
.idea/

#################
## Maven
#################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#################
## Logger Files
#################
/bitalarm-impl/logs/
/bitalarm-node/bitalarm-node-maintain/logs/
/bitalarm-node/bitalarm-node-alarm/logs/
/bitalarm-node/bitalarm-node-all/logs/

#################
## Configuration Files
#################
/bitalarm-impl/conf/
/bitalarm-node/bitalarm-node-maintain/conf/
/bitalarm-node/bitalarm-node-alarm/conf/
/bitalarm-node/bitalarm-node-all/conf/

#################
## Libext Files
#################
/bitalarm-node/bitalarm-node-maintain/libext/
/bitalarm-node/bitalarm-node-alarm/libext/
/bitalarm-node/bitalarm-node-all/libext/

#################
## Opt Files
#################
/bitalarm-node/bitalarm-node-alarm/opt/
/bitalarm-node/bitalarm-node-all/opt/

#################
## Optext Files
#################
/bitalarm-node/bitalarm-node-maintain/optext/
/bitalarm-node/bitalarm-node-alarm/optext/
/bitalarm-node/bitalarm-node-all/optext/
